.navbar {
  width: 100%;
  height: 80px;
  background-color: #65665c;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
}

.logo {
  flex: 6;
  display: flex;
  justify-content: center;
}

.logo a {
  text-decoration: none;
  color: white;
  font-size: 32px;
  font-weight: bold;
}

.logo:hover {
  transform: scale(1.05);
  transition: all 0.2s ease-in-out;
}

.links {
  flex: 1;
  display: flex;
  justify-content: flex-start;
}

.links a {
  text-decoration: none;
  color: white;
  margin-left: 20px;
  font-size: 25px;
  transition: all 0.2s ease-in-out;
}

.links a:hover {
  color: #9C9C9C; 
  transform: scale(1.1);
}

.active-link {
  color: #9C9C9C !important; 
  transform: scale(1.1);
}


.carrito {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.carrito a {
  text-decoration: none;
  color: white;
  margin-left: 20px;
  font-size: 25px;
  transition: all 0.2s ease-in-out;
}

.carrito a:hover {
  color: dodgerblue; 
  transform: scale(1.1);
}

.active-carrito {
  color: dodgerblue !important; 
  transform: scale(1.1);
}

#cartlink {
  margin-top: 10px;
  margin-right: 15px;
}

#NavTitle {
  text-align: center;
  font-size: 40px;
  color: black;
}
