.navbar {
  width: 100%;
  height: 80px;
  background-color: #65665c;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
  border-radius: 13px;
  position:fixed;
  top:20px;
  left: 50%;
  transform:translate(-50%);

  
}
.Link-Menu{
  display: flex;
  margin-right: 35px;
}


.logo a {
  text-decoration: none;
  font-size: 32px;
  font-weight: bold;
}

.logo:hover {
  transform: scale(1.05);
  transition: all 0.2s ease-in-out;
}




.carrito a {
  text-decoration: none;
  color: white;
  margin-left: 20px;
  font-size: 25px;
  transition: all 0.2s ease-in-out;
}

.carrito a:hover {
  color: #9C9C9C; 
  transform: scale(1.1);
}

.active-carrito {
  color: #9C9C9C !important; 
  transform: scale(1.1);
}

.links{
  @media(max-width: 799px){
    display: none;
  }
}

.links a {
  text-decoration: none;
  color: white;
  margin-left: 20px;
  font-size: 25px;
  transition: all 0.2s ease-in-out;
}

.links a:hover {
  color: #9C9C9C; 
  transform: scale(1.1);
}

.active-links {
  color: #9C9C9C !important; 
  transform: scale(1.1);
}


#NavTitle {
  text-align: center;
  font-size: 40px;
  color: black;
  @media(max-width: 799px){
    font-size:30px;
  }
}
