.link{
    padding-top: 20px;
}
.link:hover {
    transform: scale(1.05);
    transition: all 0.2s ease-in-out;
}

.link a {
    text-decoration: none;
    color: white;
    font-size: 25px;
    transition: all 0.2s ease-in-out;
    
  }
  
  .link a:hover {
    color: #9C9C9C; 
    transform: scale(1.1);
  }
  
  .active-link {
    color: #9C9C9C !important; 
    transform: scale(1.1);
  }
