.search-bar {
    border-radius: 4px;
    position: relative;
  }
  
  .search-bar .input-group {
    box-shadow: none;
    border: 1px solid #f89f17;
    outline: none;
  }
  
  .search-bar input {
    outline: none;
    background-color: #ffffff;
  }
  
  